<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>

      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" [(ngModel)]="user.email" required="">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="user.password" required="">
      </div>
      <div class="form-group" *ngIf="errormsg != ''">
        <div class="alert alert-warning" role="alert" >
          {{errormsg}}
        </div>
      </div>
      <button type="submit" class="btn btn-primary block full-width m-b" (click)="submitLogin()">Login</button>

  </div>
</div>
